.productCarousel {
	position: relative;
	overflow: hidden;
}

.productContainer {
	display: flex;
	overflow: hidden;
	scroll-behavior: smooth;
	gap: 2.2rem;
	margin: 0 auto;
	& img {
		width: 239px;
		height: 304px;
		object-fit: cover;
		flex-shrink: 0;
		&:hover {
			transform: scale(1.1);
		}
	}
}
