.arr {
	position: absolute;
	left: -1rem;
	top: 18.7rem;
	z-index: 4;
	box-shadow: 2px 1px 3px rgb(209, 209, 209);
    border-radius: 46px;
}
@media screen and (max-width: 886px) {
	.arr {
		display: none;
	}
}