@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.foot {
	max-width: 1351px;
	background-color: #e1e3e9;
	margin: 0 auto;
	padding: 0rem 5rem 8rem 5rem;
	position: relative;
	& h2 {
		font-family: 'Oswald', sans-serif;
		font-size: 60px;
		padding: 3rem 0;
		font-weight: 500;
	}
	& p {
		font-family: 'Roboto', sans-serif;
		text-align: start;
		padding: 0 4rem 2rem;
	}
}
.news {
	background-color: white;
	text-align: center;
	padding-bottom: 3rem;
	border-radius: 6px;
	box-shadow: 2px 3px 3px rgb(209, 209, 209);
	position: relative;
}
